body {
  font-family: 'Sansation', sans-serif;
}
:root {
  --clr-primary: #fff;
  --clr-secondary: #333;
  --clr-hover: #ccc;
}
html {
  scroll-behavior: smooth;
}
.pointer {
  cursor: pointer;
}
.hover:hover {
  color: var(--clr-hover);
}
